.screen{
	background-color: #ebebeb;
	height: 1000px;
	margin: 20px 400px 20px 400px;*/
}


.container{
	position: absolute;
	top: 50%;
	left: 50%;
	margin-top: -214px;
	margin-left: -214px;
	background-color: #c1cdba;
	border: 8px solid #c1cdba;
}

.tile{
	height: 100px;
	width: 100px;
	font: 50px arial;
	float: left;
	margin: 0;
	padding: 0;
	border: 2px solid red;
	text-align: center;
}

.val0{
	/*background-color: white;*/
}
.val2{
	/*background-color: blue;*/

}
.val4{
	
}
.val8{
	
}
.val16{
	
}
.val2{
	
}



