body{
	background-color: #e3e2dd;
}
div{
	background-color: white;
	/*border: 1px solid black;  /*for positioning purpose only, will be removed*/
}

#main{
	margin: 20px 450px 20px 450px;
	border-radius: 20px;

}
#header{
	padding-top: 15px;
	height: 110px;
	border-radius: 10px;
	text-align: center;
	font: 25px serif,arial;
	color: #390874;
	
}

#footer{
	height: 25px;
	clear: both;
	border-radius: 20px;

}

.left{
	width: 26.5%;
	float: left;
	/*height: 220px;*/
	position: relative;
	display: inline-block;;
	padding-left: 25px;
}

.left p{
	font: 15px sans, arial;
	color: #e83425;
	text-align: right;
}


.right{
	text-align: left;
	float: right;
	/*height: 220px;*/
	width: 68%;
	position: relative;
	display: inline-block;
}

.right p{
	font: 15px Georgia, arial;
}
hr{
	clear:both;
	visibility: hidden;
}

table{
	width: 300px;
	padding-left: 10px;
	text-align: center;
	font: 15px Georgia, arial;
}
table thead{
	color: #0061ff;
}


.calif{
	color: #db1a3d;
}

img{
	display: inline-block;
	height: 14px;
	width: 14px;
	padding-right: 140px;
}

#quote{
	font-style: italic;
}